html, body {
    font-size: 16px;
    color: #dfdfdf;
    background-color: #063647;
}

a {
    color: #00d1b2;
}
a:hover {
    color: #fff;
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.section-1, .section-4 {
    background-color: #063647;
}

.section-2 {
    background-color: #052D3D;
}

.section-3 {
    background-color: #0E282E;
}

a.nav-item {
    color: #dfdfdf;
}
a.nav-item:hover {
    color: #fff;
}

.avatar {
    height: 150px;  /* Adjusted height */
    width: 150px;   /* Adjusted width */
    border-radius: 50%;
}

.social-container img {
    max-width: 100%;
    max-height: 175px;
    margin-bottom: 15px;
}

.social-image {
    height: 100px;  /* Reduced height for Instagram image */
    width: 100px;   /* Reduced width for Instagram image */
}

.project-figure {
    margin: 0 auto 1rem auto;
    max-height: 256px;
    max-width: 256px;
}

.project-text {
    text-align: justify;
}

.box {
    background-color: transparent;
    border: 2px solid rgba(7, 59, 79, 0.5);
}

.title {
    color: #fff;
    text-align: left;
    margin-bottom: 2rem;
} 

.intro {
    text-align: justify;
    width: 80%;
    margin: 0 auto;
}

.void-background {
    background-color: transparent;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        background-color: #063647;
    }
    .nav-toggle:hover {
        background-color: transparent;
    }
    .nav-toggle span {
        background-color: #dfdfdf;
    }
    .nav-toggle span:hover {
        background-color: #fff;
    }
}